@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
.courseCol {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.card.course:hover {
    cursor: pointer;
}

#courseImg {
    height: 12rem;
}

#courseCode {
    color: gray;
    font-size: medium;
}

#courseName {
    font-size: large;
    display: inline-block !important;
    color: #2816b4;
}
#courseName:hover {
    text-decoration: underline;
}

