@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
.container {
    margin-top: 13vh;
}

.row {
    display: flex;
    justify-content: center;
}

.colTools {
    display: flex;
    justify-content: center;
}

#tittleSectionTools {
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.card.services{
    width: 18rem;
    height: 7rem !important;
    background-color: rgb(52, 52, 73) !important;
}

.card.services:hover, .card.services:hover .card-title.services {
    cursor: pointer;
    text-decoration: underline;
}

.card-img.services {
    width: 3rem !important;
    height: 3rem !important;
    position: absolute !important;
    top: 90% !important;
    left: 90% !important;
    transform: translate(-100%,-100%); 
    color: rgba(255, 255, 255, 0.336)!important;
}

.card-title.services {
    font-size: large;
    color: white !important;
    font-family: 'Poppins', sans-serif;
} 

.row.myCourses {
    box-shadow: 0px 0px 10px rgb(196, 196, 196);
    border-radius: 10px;
    margin-top: 2rem;
    padding: 30px;
}

.containerTittleMyCourses {
    margin-bottom: 2rem;
}

.tittleSectionMyCourses {
    font-weight: 400;
}
.card.addCourse{
    display: flex;
    align-items: center;
    justify-content: center;
}

.addCourseCol:hover {
    cursor: pointer;
}

#cardbackgroundAddCourse {
    height: 18rem;
}

#iconAddCourse {
    width: 6rem;
    height: 6rem;
    position: absolute !important;
    top: 25% !important;
    color: #2816b4;
}

#textAddCourse {
    width: 100% !important;
    position: absolute !important;
    text-align: center;
    top: 65% !important;
    color: #2816b4;
}




